/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.pm-btn {
  background: #fa4248;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 13px 50px;
  margin: 15px 0 0;
}
a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

h2,
h3 {
}

.mr-t-24 {
  margin-top: 24px;
}
button:focus {
  outline: none !important;
}

section.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .wrap {
    background: #ffffff;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 585px;
    width: 100%;
    padding: 60px 80px;
  }
  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #2c2c2c;
    text-align: center;
    margin: 44px 0;
  }
  label {
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: #212529;
    display: table;
    margin: 0 0 6px;
  }

  input:not([type='submit']):not([type='checkbox']) {
    border: 1px solid rgba(169, 167, 167, 0.5);
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    margin: 0 0 24px;
  }
  .check-box {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #212529;
    display: flex;
    align-items: center;
    margin: 0 0 32px;
  }
  input[type='checkbox'] {
    accent-color: #fa4248;
    margin-right: 10px;
  }
  input[type='submit'] {
    background: #fa4248;
    border-radius: 6px;
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 155%;
    color: #ffffff;
    padding: 15px;
  }
}

section.menu-sec {
  background: #ffffff;
  border-right: 0.5px solid #e0e0e0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 17%;
  &::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.043);
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #fa4a45;
  }
  a.main-logo {
    padding: 20px 0;
    display: table;
    width: 100%;
    img {
      max-width: 182px;
      margin: 0 auto;
      display: table;
    }
  }
  ul {
    padding: 8px 0;
    li {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: #2c2c2c;
        padding: 15px;
        padding-left: 65px;
        width: 100%;
        display: table;
        position: relative;
        &:before {
          content: '';
          width: 4px;
          height: 100%;
          background: #fa4248;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
        &:hover {
          background: #ffe8e8;
          color: #fa4248;
          img {
            filter: invert(35%) sepia(56%) saturate(4166%) hue-rotate(337deg)
              brightness(105%) contrast(96%);
          }
          &:before {
            opacity: 1;
          }
        }
        img {
          margin-right: 10px;
        }
        svg {
          float: right;
        }
      }
      ul.sub-menu {
        padding: 0;
        li {
          a {
            padding-left: 80px;
          }
        }
      }
    }
    li.active {
      & > a {
        background: #ffe8e8;
        color: #fa4248;
        img {
          filter: invert(35%) sepia(56%) saturate(4166%) hue-rotate(337deg)
            brightness(105%) contrast(96%);
        }
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .hamburger {
    display: none;
  }
  &.menu-sec2 {
    ul {
      li.logout {
        margin-top: 300px;
      }
    }
  }
}

header {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 30px;
  padding-right: 68px;
  position: fixed;
  top: 0;
  width: 83%;
  right: 0;
  background: #fff;
  z-index: 9;
  &.header2 {
    width: 100%;
    a.logo {
      img {
        display: block !important;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      margin-left: 25px;
      .img-sec {
        position: relative;
        span {
          display: table;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          bottom: 8px;
          right: 0;
        }
        span.color1 {
          background: #fa4248;
        }
      }
      a {
        display: flex;
        align-items: center;
        img {
          max-width: 100%;
          max-width: 50px;
          border-radius: 50%;
          border: 1px solid #fa4a45;
        }
      }
      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        text-transform: capitalize;
        color: #2c2c2c;
        margin: 0;
        margin-left: 20px;
        span {
          display: block;
          font-weight: 300;
          font-size: 14px;
          line-height: 23px;
          text-transform: lowercase;
          color: #fa4248;
        }
      }
    }
  }
}

section.main-page-size {
  padding: 20px 30px;
  padding-right: 68px;
  background: #f8f9fb;
  margin-top: 90px;
  min-height: 100vh;
  .title-sec {
    padding: 0 0 48px;
    &.tier-title {
      padding-bottom: 24px;
    }
    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: capitalize;
      color: #2c2c2c;
      margin: 0;
    }
    a.title-btn {
      background: #fa4248;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize;
      color: #ffffff;
      line-height: 44px;
      display: inline-block;
      padding: 0 25px;
      text-decoration: none;
    }
    &.title-sec2 {
      padding-bottom: 24px;
    }
  }
}

section.dashboard-page {
  .sec1 {
    .wrap {
      background: #fa4248;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      align-items: center;
      img {
        width: 75px;
        height: 75px;
        background: #fff;
        border-radius: 50%;
        object-fit: none;
        margin-right: 30px;
        &.qr {
          border-radius: unset;
          margin-left: auto;
          margin-right: 0;
        }
      }
      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        color: #ffffff;
        margin: 0;
        span {
          display: block;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-transform: capitalize;
          color: #ffffff;
          margin: 0 0 11px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .sec2 {
    margin: 50px 0 0;
    background: #ffffff;
    border: 0.5px solid #e0e0e0;
    border-radius: 6px;
    padding: 30px 15px;
    form {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      select {
        border: 1.21034px solid rgba(169, 167, 167, 0.5);
        border-radius: 4.84138px;
        font-weight: 400;
        font-size: 12px;
        color: #adb5bd;
        height: 42px;
        padding: 0 15px;
        max-width: 200px;
        width: 100%;
        margin-right: 24px;
        appearance: none;
        background-image: url(../images/dashboard-img2.svg);
        background-repeat: no-repeat;
        background-position: right 15px center;
      }
      input.date-pick {
        border: 1.21034px solid rgba(169, 167, 167, 0.5);
        border-radius: 4.84138px;
        font-weight: 400;
        font-size: 12px;
        color: #adb5bd;
        height: 42px;
        padding: 0 15px;
        width: 100%;
        appearance: none;
        background-image: url(../images/dashboard-img2.svg);
        background-repeat: no-repeat;
        background-position: right 15px center;
      }
      .react-datepicker-wrapper {
        max-width: 200px;
        margin-right: 24px;
      }
      input[type='submit'] {
        background: #fa4248;
        border: 1px solid #fa4248;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 42px;
        text-align: center;
        color: #ffffff;
        padding: 0 45px;
      }
    }
    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-transform: capitalize;
      color: #2c2c2c;
      margin: 0;
    }
    .apexcharts-canvas {
      margin: 50px 0 0;
    }
  }
  &.dash2-sec {
    .table-wrap {
      position: relative;
      width: 100%;
      margin-top: 16px;
      table {
        width: 100%;
        th {
          background: #f1f1f1;
          border-bottom: 1px solid #efefef;
          border-radius: 4px 4px 0px 0px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-transform: capitalize;
          color: #2c2c2c;
          padding: 20px 30px;
        }
        td {
          background: #ffffff;
          border-bottom: 1px solid #efefef;
          padding: 10px 30px;
          &.paid {
            color: #01955c;
            position: relative;
            padding-left: 50px;
            &::after {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              top: 50%;
              left: 30px;
              background: #01955c;
              transform: translateY(-50%);
            }
          }

          span {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }
          img {
            margin-right: 10px;
          }
          a.qr-img,
          a.down-img,
          a.edit-img {
            img {
              max-width: 35px;
              margin: 0;
            }
          }
        }
      }
      & table.userTable {
        td {
          &:last-child {
            color: #01955c;
            font-weight: 500;
          }
        }
      }
    }
  }
}

footer {
  border-top: 0.5px solid #e0e0e0;
  padding: 10px 68px;
  position: relative;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    text-transform: capitalize;
    color: #2c2c2c;
    margin: 0;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        text-align: right;
        text-transform: capitalize;
        color: #2c2c2c;
        &:hover {
          color: #fa4248;
        }
      }
    }
  }
}

section.partner-facilities-page {
  .table-wrap {
    position: relative;
    width: 100%;
    table {
      width: 100%;
      th {
        background: #f1f1f1;
        border-bottom: 1px solid #efefef;
        border-radius: 4px 4px 0px 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: #2c2c2c;
        padding: 20px 30px;
      }
      td {
        background: #ffffff;
        border-bottom: 1px solid #efefef;
        padding: 10px 30px;
        &.paid {
          color: #01955c;
          position: relative;
          padding-left: 50px;
          &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 50%;
            left: 30px;
            background: #01955c;
            transform: translateY(-50%);
          }
        }

        span {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
        }
        img {
          margin-right: 10px;
        }
        a.qr-img,
        a.down-img,
        a.edit-img {
          img {
            max-width: 35px;
            margin: 0;
          }
        }
      }
    }
    & table.userTable {
      td {
        &:last-child {
          color: #01955c;
          font-weight: 500;
        }
      }
    }
  }
}

ul.page-nation {
  display: flex;
  align-items: center;
  margin: 25px 0 0;
  justify-content: flex-end;
  li {
    a {
      padding: 12px;
      font-weight: 300;
      font-size: 18px;
      line-height: 14px;
      color: #2c2c2c;
      display: flex;
    }
  }
  li.active {
    a {
      color: #fa4248;
    }
  }
}

ul.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 5px 0 0;
  li {
    font-weight: 300;
    font-size: 15px;
    line-height: 14px;
    text-transform: capitalize;
    color: #2c2c2c;
    margin-right: 15px;
    a {
      color: #fa4248;
      display: flex;
      align-items: center;
      svg {
        margin-left: 15px;
      }
    }
  }
}

section.partner-facilities-page {
  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    text-transform: capitalize;
    color: #2c2c2c;
    margin: 0 0 15px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #5c5b60;
  }
  .form-wrap {
    background: #ffffff;
    border: 0.605172px solid #e0e0e0;
    border-radius: 7.26207px;
    padding: 30px;
    label {
      font-weight: 500;
      font-size: 15px;
      text-transform: capitalize;
      color: #212529;
      margin: 0 0 8px;
    }
    input:not([type='submit']):not([type='radio']):not([type='checkbox']),
    select,
    textarea {
      height: 46px;
      border: 1.21034px solid rgba(169, 167, 167, 0.5);
      border-radius: 4.84138px;
      width: 100%;
      padding: 0 15px;
      margin: 0 0 25px;
    }
    textarea {
      height: 90px;
      padding-top: 10px;
    }
    select {
      appearance: none;
      background-image: url(../images/down-arrow.svg);
      background-repeat: no-repeat;
      background-position: right 15px center;
      option {
        color: #000000;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 25px;
      gap: 30px;
      li {
        background: #ffffff;
        border: 1px solid #2c2c2c;
        border-radius: 6px;
        padding: 15px;
        flex: 1 0 30%;
        label {
          font-weight: 700;
          font-size: 18px;
          display: flex;
          align-items: center;
          color: #000000;
          margin: 0 0 15px;
          cursor: pointer;
          input[type='radio'] {
            margin-right: 10px;
            accent-color: #fa4248;
            width: 16px;
            height: 16px;
          }
        }
        h5 {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
        }
        h6 {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
          line-height: 23px;
        }
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #adb5bd;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #adb5bd;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #adb5bd;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #adb5bd;
    }
    .file-box {
      border: 1px dashed rgba(169, 167, 167, 0.5);
      border-radius: 4px;
      padding: 25px;
      text-align: center;
      min-height: 180px;
      margin-bottom: 24px;
      position: relative;
      img {
        margin-bottom: 12px;
      }
      h4 {
        font-weight: 600;
        font-size: 12px;
        line-height: 155%;
        text-align: center;
        color: #2c2c2c;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 9px;
        span {
          font-weight: 600;
          font-size: 10px;
          color: #667085;
        }
      }
      input[type='file'] {
        position: absolute;
        width: 80px !important;
        background: aqua;
        opacity: 0;
        z-index: 999;
        left: 50%;
        height: 33px !important;
        top: 73%;
        cursor: pointer;
        transform: translate(-50%, -50%);
      }
      button {
        margin-inline: auto;
        padding: 5px 24px;
        font-size: 10px;
      }
    }
    input[type='submit'] {
      background: #fa4248;
      border-radius: 4px;
      border: none;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      padding: 13px 50px;
      margin: 15px 0 0;
    }
    &.head-form {
      background: transparent;
      border: none;
      border-radius: 7.26207px;
      padding: 0;
      margin-top: 40px;
      input {
        margin-bottom: 0;
      }
      select {
        color: #adb5bd;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
      &.user-form {
        input:not([type='submit']) {
          border: 1px solid rgba(169, 167, 167, 0.5);
          border-radius: 4px;
          background-color: transparent;
        }
      }
    }
  }
  .userGrid {
    background: #ffffff;
    border: 0.5px solid #e0e0e0;
    border-radius: 6px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: start;
    gap: 24px;
    h5 {
      font-weight: 500;
      font-size: 12px;
      line-height: 155%;
      text-transform: capitalize;
      color: #212529;
      span {
        color: #667085;
        margin-top: 6px;
        display: block;
        word-break: break-word;
      }
    }
  }
}

section.subscriptionManagement {
  .subscribe-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    .sub-card {
      background: #eeeeee;
      padding: 40px 20px;
      border-radius: 4px;
      h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #191d23;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #64748b;
      }
      h5 {
        font-weight: 600;
        font-size: 56px;
        line-height: 66px;
        color: #191d23;
        display: flex;
        align-items: center;
        gap: 8px;
        span {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #4b5768;
        }
      }
      ul {
        margin-top: 24px;
        li {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #191d23;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          gap: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &.pro {
        background: #ffffff;
      }
    }
  }
  ul.btns {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 58px;
    li {
      button {
        padding: 12px 24px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

section.facilities-payement {
  form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    select {
      border: 1.21034px solid rgba(169, 167, 167, 0.5);
      border-radius: 4.84138px;
      font-weight: 400;
      font-size: 12px;
      color: #adb5bd;
      height: 42px;
      padding: 0 15px;
      max-width: 200px;
      width: 100%;
      margin-right: 24px;
      appearance: none;
      background-image: url(../images/dashboard-img2.svg);
      background-repeat: no-repeat;
      background-position: right 15px center;
    }
    input.date-pick {
      border: 1.21034px solid rgba(169, 167, 167, 0.5);
      border-radius: 4.84138px;
      font-weight: 400;
      font-size: 12px;
      color: #adb5bd;
      height: 42px;
      padding: 0 15px;
      width: 100%;
      appearance: none;
      background-image: url(../images/dashboard-img2.svg);
      background-repeat: no-repeat;
      background-position: right 15px center;
    }
    .react-datepicker-wrapper {
      max-width: 200px;
      margin-right: 24px;
    }
    input[type='submit'] {
      background: #fa4248;
      border: 1px solid #fa4248;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
      padding: 0 45px;
    }
  }
}

section.info1 {
  padding: 160px 0 24px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #2c2c2c;
    margin-bottom: 12px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5c5b60;
  }
  .box {
    padding: 24px;
    background: #ffffff;
    border: 0.5px solid #e0e0e0;
    border-radius: 6px;
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: 24px;
      gap: 20px;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 155%;
        text-transform: capitalize;
        color: #212529;
        display: flex;
        align-items: start;
        gap: 6px;
        flex-direction: column;
        span {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 155%;
          color: #667085;
        }
      }
    }
    a.pm-btn {
      display: inline-block;
      max-width: 122px;
    }
  }
  .plan-box {
    background: #ffffff;
    border-radius: 4px;
    padding: 40px 20px 20px;
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      color: #191d23;
      margin-bottom: 46px;
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #4b5768;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      gap: 10px;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #191d23;
        margin-bottom: 22px;
        position: relative;
        padding-left: 50px;
        &::after {
          content: '';
          height: 35px;
          width: 35px;
          background-repeat: no-repeat;
          left: 0;
          position: absolute;
          top: -4px;
        }
        &:not(.cancel)::after {
          background-image: url(../images/ok.png);
        }
        span {
          color: #fa4248;
        }
        &.cancel {
          &::after {
            background-image: url(../images/cancel.png);
          }
        }
      }
    }
    .add-on {
      margin-top: 26px;
      h3 {
        margin-bottom: 30px;
      }
    }
  }
}

section.info2 {
  padding-bottom: 40px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #2c2c2c;
    margin-bottom: 12px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5c5b60;
  }
  form {
    & > ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      li {
        label {
          padding: 40px 22px;
          background: #ffffff;
          border-radius: 4px;
          &.active {
            border: 1px solid #fa4248;
          }
          input[type='radio'] {
            border: 5px solid #2c2c2c;
            width: 32px;
            accent-color: #fa4248;
            height: 32px;
            border-radius: 50%;
            margin-bottom: 20px;
            background: #2c2c2c;
          }
          h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: #191d23;
            margin-bottom: 11px;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #64748b;
            margin-bottom: 20px;
          }
          h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 66px;
            color: #191d23;
            margin-bottom: 46px;
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;
              color: #4b5768;
            }
          }
          ul {
            padding-left: 50px;
            li {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 25px;
              color: #191d23;
              margin-bottom: 22px;
              position: relative;
              &::after {
                content: '';
                height: 35px;
                width: 35px;
                background-repeat: no-repeat;
                left: -50px;
                position: absolute;
                top: -4px;
              }
              &:not(.cancel)::after {
                background-image: url(../images/ok.png);
              }
              span {
                color: #fa4248;
              }
              &.cancel {
                color: #a0abbb;
                &::after {
                  background-image: url(../images/cancel.png);
                }
              }
            }
          }
          .add-on {
            margin-top: 50px;
            padding: 40px 0 0;
            h2 {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
    a.pm-btn {
      width: max-content;
      margin-top: 24px;
      margin-left: auto;
      display: none;
    }
  }
  .form-wrap {
    background: #ffffff;
    border: 0.605172px solid #e0e0e0;
    border-radius: 7.26207px;
    padding: 30px;
    margin-bottom: 150px;
    h6 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #717278;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      &:nth-child(2) {
        margin-bottom: 48px;
      }
      &:last-child {
        margin-bottom: 32px;
        border-top: 1px solid #acacac;
        padding-top: 12px;
      }
      span {
        color: #191d23;
      }
    }
    label {
      font-weight: 500;
      font-size: 15px;
      text-transform: capitalize;
      color: #212529;
      margin: 0 0 8px;
    }
    input:not([type='submit']):not([type='radio']):not([type='checkbox']),
    select,
    textarea {
      height: 46px;
      border: 1.21034px solid rgba(169, 167, 167, 0.5);
      border-radius: 4.84138px;
      width: 100%;
      padding: 0 15px;
      margin: 0 0 25px;
    }
    textarea {
      height: 90px;
      padding-top: 10px;
    }
    select {
      appearance: none;
      background-image: url(../images/down-arrow.svg);
      background-repeat: no-repeat;
      background-position: right 15px center;
      option {
        color: #000000;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 25px;
      gap: 30px;
      li {
        background: #ffffff;
        border: 1px solid #2c2c2c;
        border-radius: 6px;
        padding: 15px;
        flex: 1 0 30%;
        label {
          font-weight: 700;
          font-size: 18px;
          display: flex;
          align-items: center;
          color: #000000;
          margin: 0 0 15px;
          cursor: pointer;
          input[type='radio'] {
            margin-right: 10px;
            accent-color: #fa4248;
            width: 16px;
            height: 16px;
          }
        }
        h5 {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
        }
        h6 {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
          line-height: 23px;
        }
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #adb5bd;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #adb5bd;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #adb5bd;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #adb5bd;
    }
    .file-box {
      border: 1px dashed rgba(169, 167, 167, 0.5);
      border-radius: 4px;
      padding: 25px;
      text-align: center;
      min-height: 180px;
      margin-bottom: 24px;
      position: relative;
      img {
        margin-bottom: 12px;
      }
      h4 {
        font-weight: 600;
        font-size: 12px;
        line-height: 155%;
        text-align: center;
        color: #2c2c2c;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 9px;
        span {
          font-weight: 600;
          font-size: 10px;
          color: #667085;
        }
      }

      input[type='file'] {
        position: absolute;
        width: 80px !important;
        background: aqua;
        opacity: 0;
        z-index: 999;
        left: 50%;
        height: 33px !important;
        top: 73%;
        cursor: pointer;
        transform: translate(-50%, -50%);
      }
      button {
        margin-inline: auto;
        padding: 5px 24px;
        font-size: 10px;
      }
    }
    input[type='submit'] {
      background: #fa4248;
      border-radius: 4px;
      border: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      padding: 13px 50px;
      margin: 10px 0 0;
    }
    &.head-form {
      background: transparent;
      border: none;
      border-radius: 7.26207px;
      padding: 0;
      margin-top: 40px;
      input {
        margin-bottom: 0;
      }
      select {
        color: #adb5bd;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
      &.user-form {
        input:not([type='submit']) {
          border: 1px solid rgba(169, 167, 167, 0.5);
          border-radius: 4px;
          background-color: transparent;
        }
      }
    }
  }
}

section.manage-subs {
  padding-bottom: 70px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #2c2c2c;
    margin-bottom: 12px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5c5b60;
  }
  a.pm-btn {
    display: inline-flex;
    padding: 11px 21px;
  }
  .box {
    background: #ffffff;
    border: 0.605172px solid #e0e0e0;
    padding: 24px;
    border-radius: 7.26207px;
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #191d23;
      margin-bottom: 26px;
    }
    ul {
      padding-left: 50px;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #191d23;
        margin-bottom: 22px;
        position: relative;
        &::after {
          content: '';
          height: 35px;
          width: 35px;
          background-repeat: no-repeat;
          left: -50px;
          position: absolute;
          top: -4px;
        }
        &:not(.cancel)::after {
          background-image: url(../images/ok.png);
        }
        span {
          color: #fa4248;
        }
        &.cancel {
          color: #191d23;
          &::after {
            background-image: url(../images/cancel.png);
          }
        }
      }
    }
  }
  .table-wrap {
    position: relative;
    width: 100%;
    margin-top: 16px;
    table {
      width: 100%;
      th {
        background: #f1f1f1;
        border-bottom: 1px solid #efefef;
        border-radius: 4px 4px 0px 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: #2c2c2c;
        padding: 20px 20px;
      }
      td {
        background: #ffffff;
        border-bottom: 1px solid #efefef;
        padding: 16px 20px;
        &.paid {
          color: #01955c;
          position: relative;
          padding-left: 50px;
          &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 50%;
            left: 30px;
            background: #01955c;
            transform: translateY(-50%);
          }
        }

        span {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
        }
        img {
          margin-right: 10px;
        }
        a.qr-img,
        a.down-img,
        a.edit-img {
          img {
            max-width: 35px;
            margin: 0;
          }
        }
      }
    }
    & table.userTable {
      td {
        &:last-child {
          color: #5790ff;
          font-weight: 500;
        }
      }
    }
  }
}

section.manage-page {
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #2c2c2c;
    margin-bottom: 12px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5c5b60;
  }
  a.pm-btn {
    display: inline-flex;
    padding: 11px 21px;
    font-size: 14px;
  }
  .card-box {
    & > .visa-card {
      margin-bottom: 87px;

      label {
        width: 100%;
        input[type='radio'] {
          accent-color: #fa4248;
        }
      }
    }
  }
  .visa-card {
    padding: 25px;
    background: #ffffff;
    border: 0.605172px solid #e0e0e0;
    border-radius: 8px;
    ul {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      row-gap: 24px;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 155%;
        color: #667085;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        gap: 6px;

        flex: 1 0 40%;
        span {
          color: #212529;
        }
      }
    }
  }

  .form-wrap {
    background: #ffffff;
    border: 0.605172px solid #e0e0e0;
    border-radius: 7.26207px;
    padding: 30px;
    label {
      font-weight: 500;
      font-size: 15px;
      text-transform: capitalize;
      color: #212529;
      margin: 0 0 8px;
    }
    input:not([type='submit']):not([type='radio']):not([type='checkbox']),
    select,
    textarea {
      height: 46px;
      border: 1.21034px solid rgba(169, 167, 167, 0.5);
      border-radius: 4.84138px;
      width: 100%;
      padding: 0 15px;
      margin: 0 0 25px;
    }
    textarea {
      height: 90px;
      padding-top: 10px;
    }
    select {
      appearance: none;
      background-image: url(../images/down-arrow.svg);
      background-repeat: no-repeat;
      background-position: right 15px center;
      option {
        color: #000000;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 25px;
      gap: 30px;
      li {
        background: #ffffff;
        border: 1px solid #2c2c2c;
        border-radius: 6px;
        padding: 15px;
        flex: 1 0 30%;
        label {
          font-weight: 700;
          font-size: 18px;
          display: flex;
          align-items: center;
          color: #000000;
          margin: 0 0 15px;
          cursor: pointer;
          input[type='radio'] {
            margin-right: 10px;
            accent-color: #fa4248;
            width: 16px;
            height: 16px;
          }
        }
        h5 {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
        }
        h6 {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
          line-height: 23px;
        }
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #adb5bd;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #adb5bd;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #adb5bd;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #adb5bd;
    }
    .file-box {
      border: 1px dashed rgba(169, 167, 167, 0.5);
      border-radius: 4px;
      padding: 25px;
      text-align: center;
      min-height: 180px;
      margin-bottom: 24px;
      position: relative;
      img {
        margin-bottom: 12px;
      }
      h4 {
        font-weight: 600;
        font-size: 12px;
        line-height: 155%;
        text-align: center;
        color: #2c2c2c;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 9px;
        span {
          font-weight: 600;
          font-size: 10px;
          color: #667085;
        }
      }
      input[type='file'] {
        position: absolute;
        width: 80px !important;
        background: aqua;
        opacity: 0;
        z-index: 999;
        left: 50%;
        height: 33px !important;
        top: 73%;
        cursor: pointer;
        transform: translate(-50%, -50%);
      }
      button {
        margin-inline: auto;
        padding: 5px 24px;
        font-size: 10px;
      }
    }
    input[type='submit'] {
      background: #fa4248;
      border-radius: 4px;
      border: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      padding: 13px 50px;
      margin: 10px 0 0;
    }
    &.head-form {
      background: transparent;
      border: none;
      border-radius: 7.26207px;
      padding: 0;
      margin-top: 40px;
      input {
        margin-bottom: 0;
      }
      select {
        color: #adb5bd;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
      &.user-form {
        input:not([type='submit']) {
          border: 1px solid rgba(169, 167, 167, 0.5);
          border-radius: 4px;
          background-color: transparent;
        }
      }
    }
  }
}
