/** @format */
button.toggle {
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
  border: none;
  background: transparent;
}
button.toggle img {
  margin-right: 0 !important;
}
