/** @format */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.pm-btn {
  background: #fa4248;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 13px 50px;
  margin: 15px 0 0;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

.mr-t-24 {
  margin-top: 24px;
}

button:focus {
  outline: none !important;
}

section.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
section.login-page .login-row {
  margin-bottom: 20px;
}
section.login-page small.error {
  text-align: left;
  display: block;
  color: #fa4248;
  font-weight: 400;
  font-size: 14px;
}
section.login-page .wrap {
  background: #ffffff;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 585px;
  width: 100%;
  padding: 60px 80px;
}
section.login-page h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #2c2c2c;
  text-align: center;
  margin: 44px 0;
}
section.login-page label {
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: #212529;
  display: table;
  margin: 0 0 6px;
}
section.login-page input:not([type=submit]):not([type=checkbox]) {
  border: 1px solid rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  width: 100%;
  padding: 15px;
  margin: 0 0 8px;
}
section.login-page .check-box {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin: 0 0 32px;
}
section.login-page input[type=checkbox] {
  accent-color: #fa4248;
  margin-right: 10px;
}
section.login-page input[type=submit] {
  background: #fa4248;
  border-radius: 6px;
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  color: #ffffff;
  padding: 15px;
}

section.menu-sec {
  background: #ffffff;
  border-right: 0.5px solid #e0e0e0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 17%;
}
section.menu-sec::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.043);
}
section.menu-sec a.main-logo {
  padding: 20px 0;
  display: table;
  width: 100%;
}
section.menu-sec a.main-logo img {
  max-width: 182px;
  margin: 0 auto;
  display: table;
}
section.menu-sec ul {
  padding: 8px 0 60px;
}
section.menu-sec ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #2c2c2c;
  padding: 15px;
  padding-left: 30px;
  width: 100%;
  display: table;
  position: relative;
}
section.menu-sec ul li a:before {
  content: "";
  width: 4px;
  height: 100%;
  background: #fa4248;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
section.menu-sec ul li a:hover {
  background: #ffe8e8;
  color: #fa4248;
}
section.menu-sec ul li a:hover img {
  filter: invert(35%) sepia(56%) saturate(4166%) hue-rotate(337deg) brightness(105%) contrast(96%);
}
section.menu-sec ul li a:hover:before {
  opacity: 1;
}
section.menu-sec ul li a img {
  margin-right: 10px;
}
section.menu-sec ul li a svg {
  float: right;
}
section.menu-sec ul li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #2c2c2c;
  padding: 15px;
  padding-left: 33px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
section.menu-sec ul li span:before {
  content: "";
  width: 4px;
  height: 100%;
  background: #fa4248;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
section.menu-sec ul li span img {
  margin-right: 10px;
}
section.menu-sec ul li span svg {
  margin-left: auto;
}
section.menu-sec ul li ul.sub-menu {
  padding: 0;
}
section.menu-sec ul li ul.sub-menu li a {
  padding-left: 65px;
}
section.menu-sec ul li ul.sub-menu li.active a {
  background-color: transparent;
  color: #fa4248;
  padding-left: 65px;
}
section.menu-sec ul li ul.sub-menu li.active a::before {
  background-color: transparent;
}
section.menu-sec ul li > a.active {
  background: #ffe8e8;
  color: #fa4248;
}
section.menu-sec ul li > a.active img {
  filter: invert(35%) sepia(56%) saturate(4166%) hue-rotate(337deg) brightness(105%) contrast(96%);
}
section.menu-sec ul li > a.active:before {
  opacity: 1;
}
section.menu-sec ul li > span.active {
  background: #ffe8e8;
  color: #fa4248;
}
section.menu-sec ul li > span.active img {
  filter: invert(35%) sepia(56%) saturate(4166%) hue-rotate(337deg) brightness(105%) contrast(96%);
}
section.menu-sec ul li > span.active:before {
  opacity: 1;
}
section.menu-sec .hamburger {
  display: none;
}
section.menu-sec.menu-sec2 ul li.logout {
  margin-top: 300px;
}

header {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 30px;
  padding-right: 68px;
  position: fixed;
  top: 0;
  width: 83%;
  right: 0;
  background: #fff;
  z-index: 9;
}
header.header2 {
  width: 100%;
}
header.header2 a.logo img {
  display: block !important;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul li {
  margin-left: 25px;
}
header ul li .img-sec {
  position: relative;
}
header ul li .img-sec span {
  display: table;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  right: 0;
}
header ul li .img-sec span.color1 {
  background: #fa4248;
}
header ul li a {
  display: flex;
  align-items: center;
}
header ul li a img {
  max-width: 100%;
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid #fa4a45;
}
header ul li h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin: 0;
  margin-left: 20px;
}
header ul li h3 span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  text-transform: lowercase;
  color: #fa4248;
}

section.main-page-size {
  padding: 20px 30px;
  padding-right: 68px;
  background: #f8f9fb;
  margin-top: 90px;
  min-height: 100vh;
}
section.main-page-size .title-sec {
  padding: 0 0 48px;
}
section.main-page-size .title-sec.tier-title {
  padding-bottom: 24px;
}
section.main-page-size .title-sec h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin: 0;
}
section.main-page-size .title-sec a.title-btn {
  background: #fa4248;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 44px;
  display: inline-block;
  padding: 0 25px;
  text-decoration: none;
}
section.main-page-size .title-sec.title-sec2 {
  padding-bottom: 24px;
}

section.dashboard-page .sec1 .wrap {
  background: #fa4248;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
}
section.dashboard-page .sec1 .wrap img {
  width: 75px;
  height: 75px;
  background: #fff;
  border-radius: 50%;
  object-fit: none;
  margin-right: 30px;
}
section.dashboard-page .sec1 .wrap img.qr {
  border-radius: unset;
  margin-left: auto;
  margin-right: 0;
}
section.dashboard-page .sec1 .wrap h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  margin: 0;
}
section.dashboard-page .sec1 .wrap h3 span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 0 11px;
  letter-spacing: 0.5px;
}
section.dashboard-page .sec2 {
  margin: 50px 0 0;
  background: #ffffff;
  border: 0.5px solid #e0e0e0;
  border-radius: 6px;
  padding: 30px 15px;
}
section.dashboard-page .sec2 form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section.dashboard-page .sec2 form select {
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  font-weight: 400;
  font-size: 12px;
  color: #adb5bd;
  height: 42px;
  padding: 0 15px;
  max-width: 200px;
  width: 100%;
  margin-right: 24px;
  appearance: none;
  background-image: url(../../assets/images/dashboard-img2.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.dashboard-page .sec2 form input.date-pick {
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  font-weight: 400;
  font-size: 12px;
  color: #adb5bd;
  height: 42px;
  padding: 0 15px;
  width: 100%;
  appearance: none;
  background-image: url(../../assets/images/dashboard-img2.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.dashboard-page .sec2 form .react-datepicker-wrapper {
  max-width: 200px;
  margin-right: 24px;
}
section.dashboard-page .sec2 form input[type=submit] {
  background: #fa4248;
  border: 1px solid #fa4248;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  padding: 0 45px;
}
section.dashboard-page .sec2 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin: 0;
}
section.dashboard-page .sec2 .apexcharts-canvas {
  margin: 50px 0 0;
}
section.dashboard-page.dash2-sec .table-wrap {
  position: relative;
  width: 100%;
  margin-top: 16px;
}
section.dashboard-page.dash2-sec .table-wrap table {
  width: 100%;
}
section.dashboard-page.dash2-sec .table-wrap table th {
  background: #f1f1f1;
  border-bottom: 1px solid #efefef;
  border-radius: 4px 4px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #2c2c2c;
  padding: 20px 30px;
}
section.dashboard-page.dash2-sec .table-wrap table td {
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  padding: 10px 30px;
}
section.dashboard-page.dash2-sec .table-wrap table td.paid {
  color: #01955c;
  position: relative;
  padding-left: 50px;
}
section.dashboard-page.dash2-sec .table-wrap table td.paid::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 30px;
  background: #01955c;
  transform: translateY(-50%);
}
section.dashboard-page.dash2-sec .table-wrap table td span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
section.dashboard-page.dash2-sec .table-wrap table td img {
  margin-right: 10px;
}
section.dashboard-page.dash2-sec .table-wrap table td a.qr-img img,
section.dashboard-page.dash2-sec .table-wrap table td a.down-img img,
section.dashboard-page.dash2-sec .table-wrap table td a.edit-img img {
  max-width: 35px;
  margin: 0;
}
section.dashboard-page.dash2-sec .table-wrap table.userTable td:last-child {
  color: #01955c;
  font-weight: 500;
}

footer {
  border-top: 0.5px solid #e0e0e0;
  padding: 10px 15px;
  position: relative;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-transform: capitalize;
  color: #2c2c2c;
  margin: 0;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: right;
  text-transform: capitalize;
  color: #2c2c2c;
}
footer ul li a:hover {
  color: #fa4248;
}

section.partner-facilities-page .table-wrap {
  position: relative;
  width: 100%;
}
section.partner-facilities-page .table-wrap table {
  width: 100%;
}
section.partner-facilities-page .table-wrap table th {
  background: #f1f1f1;
  border-bottom: 1px solid #efefef;
  border-radius: 4px 4px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #2c2c2c;
  padding: 20px 30px;
}
section.partner-facilities-page .table-wrap table td {
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  padding: 10px 30px;
}
section.partner-facilities-page .table-wrap table td.paid {
  color: #01955c;
  position: relative;
  padding-left: 50px;
}
section.partner-facilities-page .table-wrap table td.paid::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 30px;
  background: #01955c;
  transform: translateY(-50%);
}
section.partner-facilities-page .table-wrap table td span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
section.partner-facilities-page .table-wrap table td img {
  margin-right: 10px;
}
section.partner-facilities-page .table-wrap table td a.qr-img img,
section.partner-facilities-page .table-wrap table td a.down-img img,
section.partner-facilities-page .table-wrap table td a.edit-img img {
  max-width: 35px;
  margin: 0;
}
section.partner-facilities-page .table-wrap table.userTable td:last-child {
  color: #01955c;
  font-weight: 500;
}

ul.page-nation {
  display: flex;
  align-items: center;
  margin: 25px 0 0;
  justify-content: flex-end;
}
ul.page-nation li a {
  padding: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #2c2c2c;
  display: flex;
}
ul.page-nation li.active a {
  color: #fa4248;
}

ul.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 5px 0 0;
}
ul.breadcrumbs li {
  font-weight: 300;
  font-size: 15px;
  line-height: 14px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin-right: 15px;
}
ul.breadcrumbs li a {
  color: #fa4248;
  display: flex;
  align-items: center;
}
ul.breadcrumbs li a svg {
  margin-left: 15px;
}

section.partner-facilities-page h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin: 0 0 15px;
}
section.partner-facilities-page p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #5c5b60;
}
section.partner-facilities-page .form-wrap {
  background: #ffffff;
  border: 0.605172px solid #e0e0e0;
  border-radius: 7.26207px;
  padding: 30px;
}
section.partner-facilities-page .form-wrap label {
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: #212529;
  margin: 0 0 8px;
}
section.partner-facilities-page .form-wrap input:not([type=submit]):not([type=radio]):not([type=checkbox]),
section.partner-facilities-page .form-wrap select,
section.partner-facilities-page .form-wrap textarea {
  height: 46px;
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  width: 100%;
  padding: 0 15px;
  margin: 0 0 25px;
}
section.partner-facilities-page .form-wrap textarea {
  height: 90px;
  padding-top: 10px;
}
section.partner-facilities-page .form-wrap select {
  appearance: none;
  background-image: url(../../assets/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.partner-facilities-page .form-wrap select option {
  color: #000000;
}
section.partner-facilities-page .form-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 25px;
  gap: 30px;
}
section.partner-facilities-page .form-wrap ul li {
  background: #ffffff;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
  padding: 15px;
  flex: 1 0 30%;
}
section.partner-facilities-page .form-wrap ul li label {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0 0 15px;
  cursor: pointer;
}
section.partner-facilities-page .form-wrap ul li label input[type=radio] {
  margin-right: 10px;
  accent-color: #fa4248;
  width: 16px;
  height: 16px;
}
section.partner-facilities-page .form-wrap ul li h5 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
section.partner-facilities-page .form-wrap ul li h6 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 23px;
}
section.partner-facilities-page .form-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #adb5bd;
}
section.partner-facilities-page .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */
  color: #adb5bd;
}
section.partner-facilities-page .form-wrap :-ms-input-placeholder {
  /* IE 10+ */
  color: #adb5bd;
}
section.partner-facilities-page .form-wrap :-moz-placeholder {
  /* Firefox 18- */
  color: #adb5bd;
}
section.partner-facilities-page .form-wrap .file-box {
  border: 1px dashed rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  min-height: 180px;
  margin-bottom: 24px;
  position: relative;
}
section.partner-facilities-page .form-wrap .file-box img {
  margin-bottom: 12px;
}
section.partner-facilities-page .form-wrap .file-box h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 155%;
  text-align: center;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9px;
}
section.partner-facilities-page .form-wrap .file-box h4 span {
  font-weight: 600;
  font-size: 10px;
  color: #667085;
}
section.partner-facilities-page .form-wrap .file-box input[type=file] {
  position: absolute;
  width: 80px !important;
  background: aqua;
  opacity: 0;
  z-index: 999;
  left: 50%;
  height: 33px !important;
  top: 73%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
section.partner-facilities-page .form-wrap .file-box button {
  margin-inline: auto;
  padding: 5px 24px;
  font-size: 10px;
}
section.partner-facilities-page .form-wrap input[type=submit] {
  background: #fa4248;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 13px 50px;
  margin: 15px 0 0;
}
section.partner-facilities-page .form-wrap.head-form {
  background: transparent;
  border: none;
  border-radius: 7.26207px;
  padding: 0;
  margin-top: 40px;
}
section.partner-facilities-page .form-wrap.head-form input {
  margin-bottom: 0;
}
section.partner-facilities-page .form-wrap.head-form select {
  color: #adb5bd;
}
section.partner-facilities-page .form-wrap.head-form select:not(:last-child) {
  margin-right: 30px;
}
section.partner-facilities-page .form-wrap.head-form.user-form input:not([type=submit]) {
  border: 1px solid rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  background-color: transparent;
}
section.partner-facilities-page .userGrid {
  background: #ffffff;
  border: 0.5px solid #e0e0e0;
  border-radius: 6px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  align-items: start;
  gap: 24px;
}
section.partner-facilities-page .userGrid h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 155%;
  text-transform: capitalize;
  color: #212529;
}
section.partner-facilities-page .userGrid h5 span {
  color: #667085;
  margin-top: 6px;
  display: block;
  word-break: break-word;
}

section.subscriptionManagement .subscribe-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
}
section.subscriptionManagement .subscribe-cards .sub-card {
  background: #eeeeee;
  padding: 40px 20px;
  border-radius: 4px;
}
section.subscriptionManagement .subscribe-cards .sub-card h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #191d23;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.subscriptionManagement .subscribe-cards .sub-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #64748b;
}
section.subscriptionManagement .subscribe-cards .sub-card h5 {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #191d23;
  display: flex;
  align-items: center;
  gap: 8px;
}
section.subscriptionManagement .subscribe-cards .sub-card h5 span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4b5768;
}
section.subscriptionManagement .subscribe-cards .sub-card ul {
  margin-top: 24px;
}
section.subscriptionManagement .subscribe-cards .sub-card ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #191d23;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
section.subscriptionManagement .subscribe-cards .sub-card ul li:last-child {
  margin-bottom: 0;
}
section.subscriptionManagement .subscribe-cards .sub-card.pro {
  background: #ffffff;
}
section.subscriptionManagement ul.btns {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 58px;
}
section.subscriptionManagement ul.btns li button {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 300;
}

section.facilities-payement form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section.facilities-payement form select {
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  font-weight: 400;
  font-size: 12px;
  color: #adb5bd;
  height: 42px;
  padding: 0 15px;
  max-width: 200px;
  width: 100%;
  margin-right: 24px;
  appearance: none;
  background-image: url(../../assets/images/dashboard-img2.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.facilities-payement form input.date-pick {
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  font-weight: 400;
  font-size: 12px;
  color: #adb5bd;
  height: 42px;
  padding: 0 15px;
  width: 100%;
  appearance: none;
  background-image: url(../../assets/images/dashboard-img2.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.facilities-payement form .react-datepicker-wrapper {
  max-width: 200px;
  margin-right: 24px;
}
section.facilities-payement form input[type=submit] {
  background: #fa4248;
  border: 1px solid #fa4248;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  padding: 0 45px;
}

section.info1 {
  padding: 160px 0 24px;
}
section.info1 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin-bottom: 12px;
}
section.info1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5c5b60;
}
section.info1 .box {
  padding: 24px;
  background: #ffffff;
  border: 0.5px solid #e0e0e0;
  border-radius: 6px;
}
section.info1 .box ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 24px;
  gap: 20px;
}
section.info1 .box ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 155%;
  text-transform: capitalize;
  color: #212529;
  display: flex;
  align-items: start;
  gap: 6px;
  flex-direction: column;
}
section.info1 .box ul li span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 155%;
  color: #667085;
}
section.info1 .box a.pm-btn {
  display: inline-block;
  max-width: 122px;
}
section.info1 .plan-box {
  background: #ffffff;
  border-radius: 4px;
  padding: 40px 20px 20px;
}
section.info1 .plan-box h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #191d23;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  gap: 10px;
}
section.info1 .plan-box h4 span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4b5768;
}
section.info1 .plan-box ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 10px;
}
section.info1 .plan-box ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #191d23;
  margin-bottom: 22px;
  position: relative;
  padding-left: 50px;
}
section.info1 .plan-box ul li::after {
  content: "";
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  left: 0;
  position: absolute;
  top: -4px;
}
section.info1 .plan-box ul li:not(.cancel)::after {
  background-image: url(../../assets/images/ok.png);
}
section.info1 .plan-box ul li span {
  color: #fa4248;
}
section.info1 .plan-box ul li.cancel::after {
  background-image: url(../../assets/images/cancel.png);
}
section.info1 .plan-box .add-on {
  margin-top: 26px;
}
section.info1 .plan-box .add-on h3 {
  margin-bottom: 30px;
}

section.info2 {
  padding-bottom: 40px;
}
section.info2 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin-bottom: 12px;
}
section.info2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5c5b60;
}
section.info2 form > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
section.info2 form > ul li label {
  padding: 40px 22px;
  background: #ffffff;
  border-radius: 4px;
}
section.info2 form > ul li label.active {
  border: 1px solid #fa4248;
}
section.info2 form > ul li label input[type=radio] {
  border: 5px solid #2c2c2c;
  width: 32px;
  accent-color: #fa4248;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 20px;
  background: #2c2c2c;
}
section.info2 form > ul li label h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #191d23;
  margin-bottom: 11px;
}
section.info2 form > ul li label p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #64748b;
  margin-bottom: 20px;
}
section.info2 form > ul li label h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #191d23;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  gap: 10px;
}
section.info2 form > ul li label h4 span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4b5768;
}
section.info2 form > ul li label ul {
  padding-left: 50px;
}
section.info2 form > ul li label ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #191d23;
  margin-bottom: 22px;
  position: relative;
}
section.info2 form > ul li label ul li::after {
  content: "";
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  left: -50px;
  position: absolute;
  top: -4px;
}
section.info2 form > ul li label ul li:not(.cancel)::after {
  background-image: url(../../assets/images/ok.png);
}
section.info2 form > ul li label ul li span {
  color: #fa4248;
}
section.info2 form > ul li label ul li.cancel {
  color: #a0abbb;
}
section.info2 form > ul li label ul li.cancel::after {
  background-image: url(../../assets/images/cancel.png);
}
section.info2 form > ul li label .add-on {
  margin-top: 50px;
  padding: 40px 0 0;
}
section.info2 form > ul li label .add-on h2 {
  margin-bottom: 40px;
}
section.info2 form a.pm-btn {
  width: max-content;
  margin-top: 24px;
  margin-left: auto;
  display: none;
}
section.info2 .form-wrap {
  background: #ffffff;
  border: 0.605172px solid #e0e0e0;
  border-radius: 7.26207px;
  padding: 30px;
  margin-bottom: 150px;
}
section.info2 .form-wrap h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #717278;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
section.info2 .form-wrap h6:nth-child(2) {
  margin-bottom: 48px;
}
section.info2 .form-wrap h6:last-child {
  margin-bottom: 32px;
  border-top: 1px solid #acacac;
  padding-top: 12px;
}
section.info2 .form-wrap h6 span {
  color: #191d23;
}
section.info2 .form-wrap label {
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: #212529;
  margin: 0 0 8px;
}
section.info2 .form-wrap input:not([type=submit]):not([type=radio]):not([type=checkbox]),
section.info2 .form-wrap select,
section.info2 .form-wrap textarea {
  height: 46px;
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  width: 100%;
  padding: 0 15px;
  margin: 0 0 25px;
}
section.info2 .form-wrap textarea {
  height: 90px;
  padding-top: 10px;
}
section.info2 .form-wrap select {
  appearance: none;
  background-image: url(../../assets/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.info2 .form-wrap select option {
  color: #000000;
}
section.info2 .form-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 25px;
  gap: 30px;
}
section.info2 .form-wrap ul li {
  background: #ffffff;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
  padding: 15px;
  flex: 1 0 30%;
}
section.info2 .form-wrap ul li label {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0 0 15px;
  cursor: pointer;
}
section.info2 .form-wrap ul li label input[type=radio] {
  margin-right: 10px;
  accent-color: #fa4248;
  width: 16px;
  height: 16px;
}
section.info2 .form-wrap ul li h5 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
section.info2 .form-wrap ul li h6 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 23px;
}
section.info2 .form-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #adb5bd;
}
section.info2 .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */
  color: #adb5bd;
}
section.info2 .form-wrap :-ms-input-placeholder {
  /* IE 10+ */
  color: #adb5bd;
}
section.info2 .form-wrap :-moz-placeholder {
  /* Firefox 18- */
  color: #adb5bd;
}
section.info2 .form-wrap .file-box {
  border: 1px dashed rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  min-height: 180px;
  margin-bottom: 24px;
  position: relative;
}
section.info2 .form-wrap .file-box img {
  margin-bottom: 12px;
}
section.info2 .form-wrap .file-box h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 155%;
  text-align: center;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9px;
}
section.info2 .form-wrap .file-box h4 span {
  font-weight: 600;
  font-size: 10px;
  color: #667085;
}
section.info2 .form-wrap .file-box input[type=file] {
  position: absolute;
  width: 80px !important;
  background: aqua;
  opacity: 0;
  z-index: 999;
  left: 50%;
  height: 33px !important;
  top: 73%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
section.info2 .form-wrap .file-box button {
  margin-inline: auto;
  padding: 5px 24px;
  font-size: 10px;
}
section.info2 .form-wrap input[type=submit] {
  background: #fa4248;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 13px 50px;
  margin: 10px 0 0;
}
section.info2 .form-wrap.head-form {
  background: transparent;
  border: none;
  border-radius: 7.26207px;
  padding: 0;
  margin-top: 40px;
}
section.info2 .form-wrap.head-form input {
  margin-bottom: 0;
}
section.info2 .form-wrap.head-form select {
  color: #adb5bd;
}
section.info2 .form-wrap.head-form select:not(:last-child) {
  margin-right: 30px;
}
section.info2 .form-wrap.head-form.user-form input:not([type=submit]) {
  border: 1px solid rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  background-color: transparent;
}

section.manage-subs {
  padding-bottom: 70px;
}
section.manage-subs h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin-bottom: 12px;
}
section.manage-subs p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5c5b60;
}
section.manage-subs a.pm-btn {
  display: inline-flex;
  padding: 11px 21px;
}
section.manage-subs .box {
  background: #ffffff;
  border: 0.605172px solid #e0e0e0;
  padding: 24px;
  border-radius: 7.26207px;
}
section.manage-subs .box h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #191d23;
  margin-bottom: 26px;
}
section.manage-subs .box ul {
  padding-left: 50px;
}
section.manage-subs .box ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #191d23;
  margin-bottom: 22px;
  position: relative;
}
section.manage-subs .box ul li::after {
  content: "";
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  left: -50px;
  position: absolute;
  top: -4px;
}
section.manage-subs .box ul li:not(.cancel)::after {
  background-image: url(../../assets/images/ok.png);
}
section.manage-subs .box ul li span {
  color: #fa4248;
}
section.manage-subs .box ul li.cancel {
  color: #191d23;
}
section.manage-subs .box ul li.cancel::after {
  background-image: url(../../assets/images/cancel.png);
}
section.manage-subs .table-wrap {
  position: relative;
  width: 100%;
  margin-top: 16px;
}
section.manage-subs .table-wrap table {
  width: 100%;
}
section.manage-subs .table-wrap table th {
  background: #f1f1f1;
  border-bottom: 1px solid #efefef;
  border-radius: 4px 4px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #2c2c2c;
  padding: 20px 20px;
}
section.manage-subs .table-wrap table td {
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  padding: 16px 20px;
}
section.manage-subs .table-wrap table td.paid {
  color: #01955c;
  position: relative;
  padding-left: 50px;
}
section.manage-subs .table-wrap table td.paid::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 30px;
  background: #01955c;
  transform: translateY(-50%);
}
section.manage-subs .table-wrap table td span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
section.manage-subs .table-wrap table td img {
  margin-right: 10px;
}
section.manage-subs .table-wrap table td a.qr-img img,
section.manage-subs .table-wrap table td a.down-img img,
section.manage-subs .table-wrap table td a.edit-img img {
  max-width: 35px;
  margin: 0;
}
section.manage-subs .table-wrap table.userTable td:last-child {
  color: #5790ff;
  font-weight: 500;
}

section.manage-page h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2c2c2c;
  margin-bottom: 12px;
}
section.manage-page p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5c5b60;
}
section.manage-page a.pm-btn {
  display: inline-flex;
  padding: 11px 21px;
  font-size: 14px;
}
section.manage-page .card-box > .visa-card {
  margin-bottom: 87px;
}
section.manage-page .card-box > .visa-card label {
  width: 100%;
}
section.manage-page .card-box > .visa-card label input[type=radio] {
  accent-color: #fa4248;
}
section.manage-page .visa-card {
  padding: 25px;
  background: #ffffff;
  border: 0.605172px solid #e0e0e0;
  border-radius: 8px;
}
section.manage-page .visa-card ul {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  row-gap: 24px;
}
section.manage-page .visa-card ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 155%;
  color: #667085;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1 0 40%;
}
section.manage-page .visa-card ul li span {
  color: #212529;
}
section.manage-page .form-wrap {
  background: #ffffff;
  border: 0.605172px solid #e0e0e0;
  border-radius: 7.26207px;
  padding: 30px;
}
section.manage-page .form-wrap label {
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: #212529;
  margin: 0 0 8px;
}
section.manage-page .form-wrap input:not([type=submit]):not([type=radio]):not([type=checkbox]),
section.manage-page .form-wrap select,
section.manage-page .form-wrap textarea {
  height: 46px;
  border: 1.21034px solid rgba(169, 167, 167, 0.5);
  border-radius: 4.84138px;
  width: 100%;
  padding: 0 15px;
  margin: 0 0 25px;
}
section.manage-page .form-wrap textarea {
  height: 90px;
  padding-top: 10px;
}
section.manage-page .form-wrap select {
  appearance: none;
  background-image: url(../../assets/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.manage-page .form-wrap select option {
  color: #000000;
}
section.manage-page .form-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 25px;
  gap: 30px;
}
section.manage-page .form-wrap ul li {
  background: #ffffff;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
  padding: 15px;
  flex: 1 0 30%;
}
section.manage-page .form-wrap ul li label {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0 0 15px;
  cursor: pointer;
}
section.manage-page .form-wrap ul li label input[type=radio] {
  margin-right: 10px;
  accent-color: #fa4248;
  width: 16px;
  height: 16px;
}
section.manage-page .form-wrap ul li h5 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
section.manage-page .form-wrap ul li h6 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 23px;
}
section.manage-page .form-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #adb5bd;
}
section.manage-page .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */
  color: #adb5bd;
}
section.manage-page .form-wrap :-ms-input-placeholder {
  /* IE 10+ */
  color: #adb5bd;
}
section.manage-page .form-wrap :-moz-placeholder {
  /* Firefox 18- */
  color: #adb5bd;
}
section.manage-page .form-wrap .file-box {
  border: 1px dashed rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  min-height: 180px;
  margin-bottom: 24px;
  position: relative;
}
section.manage-page .form-wrap .file-box img {
  margin-bottom: 12px;
}
section.manage-page .form-wrap .file-box h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 155%;
  text-align: center;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9px;
}
section.manage-page .form-wrap .file-box h4 span {
  font-weight: 600;
  font-size: 10px;
  color: #667085;
}
section.manage-page .form-wrap .file-box input[type=file] {
  position: absolute;
  width: 80px !important;
  background: aqua;
  opacity: 0;
  z-index: 999;
  left: 50%;
  height: 33px !important;
  top: 73%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
section.manage-page .form-wrap .file-box button {
  margin-inline: auto;
  padding: 5px 24px;
  font-size: 10px;
}
section.manage-page .form-wrap input[type=submit] {
  background: #fa4248;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 13px 50px;
  margin: 10px 0 0;
}
section.manage-page .form-wrap.head-form {
  background: transparent;
  border: none;
  border-radius: 7.26207px;
  padding: 0;
  margin-top: 40px;
}
section.manage-page .form-wrap.head-form input {
  margin-bottom: 0;
}
section.manage-page .form-wrap.head-form select {
  color: #adb5bd;
}
section.manage-page .form-wrap.head-form select:not(:last-child) {
  margin-right: 30px;
}
section.manage-page .form-wrap.head-form.user-form input:not([type=submit]) {
  border: 1px solid rgba(169, 167, 167, 0.5);
  border-radius: 4px;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
